@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

p,
h1 {
  margin: unset;
}

body {
  background-color: hsl(225, 100%, 94%);
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

.card-container .card {
  background-color: white;
  box-sizing: border-box;
  height: 567px;
  width: 327px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 18px 31px -6px rgba(56, 41, 224, 0.15);
}

.card-container .card .card-header .card-banner {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
  -webkit-user-drag: none;
}

.card-container .card .card-body {
  padding: 24px;
}

.card-container .card .card-body .card-title {
  font-size: 22px;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin: 5px 0;
}

.card-container .card .card-body .card-description {
  line-height: 26px;
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  margin: 15px 0;
  padding: 0 5px;
}

.card-container .card .card-body .plan-section {
  background-color: hsl(225, 100%, 98%);
  display: flex;
  align-items: center;
  padding: 17px 16px;
  border-radius: 10px;
  margin: 20px 0;
}

.card-container .card .card-body .plan-section .plan-info {
  margin: 0 20px;
}

.card-container .card .card-body .plan-section .plan-info .plan-type {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  font-size: 14px;
  margin: 3px 0;
}

.card-container .card .card-body .plan-section .plan-info .plan-price {
  color: hsl(224, 23%, 55%);
  font-size: 14px;
  margin: 3px 0;
}

.card-container .card .card-body .plan-section .separer {
  flex-grow: 1;
}

.card-container .card .card-body .plan-section .link-change {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 14px;
}

.card-container .card .card-body .plan-section .link-change:hover{
  text-decoration: none;
  color: hsl(245, 75%, 70%);
}

.card-container .card .card-body .btn {
  display: block;
  text-decoration: none;
  font-weight: 700;
}

.card-container .card .card-body .payment-btn {
  background-color: hsl(245, 75%, 52%);
  color: white;
  padding: 16px 0;
  border-radius: 10px;
  box-shadow: 0px 18px 31px -6px rgba(56, 41, 224, 0.35);
  margin: 24px 0;
}

.card-container .card .card-body .payment-btn:hover {
  background-color: hsl(245, 83%, 68%);
}

.card-container .card .card-body .cancel-btn {
  color: hsl(224, 23%, 55%);
  margin: 24px 0;
}

.card-container .card .card-body .cancel-btn:hover {
  color: hsl(224, 23%, 25%);
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }

  /* width 450px */
  /* height 697px */
  .card-container .card {
    height: 697px;
    width: 450px;
  }

  .card-container .card .card-body {
    padding: 40px 48px;
  }

  .card-container .card .card-body .card-title {
    font-size: 29px;
    margin: unset;
  }

  .card-container .card .card-body .card-description {
    margin: 17px 0;
  }

  .card-container .card .card-body .plan-section {
    padding: 25px 24px;
  }

  .card-container .card .card-body .plan-section .plan-info .plan-type {
    font-size: 16px;
    margin: 3px 0;
  }

  .card-container .card .card-body .plan-section .plan-info .plan-price {
    font-size: 16px;
    margin: 3px 0;
  }

  .card-container .card .card-body .payment-btn {
    /* margin: 32px 0; */
    margin: 28px 0;
  }
}
